<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655632443224-962i5tpnps5l782th633actn19rb0p9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655632443224-962i5tpnps5l782th633actn19rb0p9e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>655632443224-bfci01i5lr1kds9cfkp0m9f2l0gka91r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6btHOHSWRKyoERLlpnVsdxmFHnb4YzXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>655632443224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.ebazar</string>
	<key>PROJECT_ID</key>
	<string>ebazar-ef30c</string>
	<key>STORAGE_BUCKET</key>
	<string>ebazar-ef30c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655632443224:ios:e7a00a71604cff6a60e72d</string>
</dict>
</plist>